@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #A8FBD3;
}


*{
    font-family: "Outfit", sans-serif;
}

/* Hide scrollbar for Chrome, Safari, Opera */
::-webkit-scrollbar {
  display: none;
}

/* Remove scrollbar arrows in Webkit browsers */
::-webkit-scrollbar-button {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  scrollbar-color: transparent transparent;
}

html{
    background-color: white;
    color: black;
}